.amarant {
    font-family: 'Amaranth', sans-serif;
}

.fuente2 {
    font-family: 'Amaranth', sans-serif;
    font-family: 'Homemade Apple', cursive;
}

.fuente3 {
    font-family: 'Chewy', cursive;
}

h1{
    text-align: center;
}