/* Main Primary color */

.color-primary-0 { color: #03439C }	
.color-primary-1 { color: #010D1D }
.color-primary-2 { color: #010D1D }
.color-primary-3 { color: #537199 }
.color-primary-4 { color: #537199 }


/* CABECERA */
header {
    height: 50px;
    width: 100%;
    background-color:  #03439C;
    color: white;
    text-align: left;
    position:fixed;
    top:0;

}
.nombre{
    padding-left: 10px;
    padding-bottom: 17px;
}


/* SECTION */
h3  {
    color: #03439C;
}


/* PIE DE PAGINA */

footer{
    height: 50px;
    width: 100%;
    background-color:  #03439C;
    color: white;
    text-align: left;
    position:fixed; 
    bottom:0;
    
    
    
}

.curso{
    padding-left: 10px;
    padding-bottom: 17px;
}